body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

    /* Ensure elements within .container-fluid do not cause overflow */
    .container-fluid * {
        box-sizing: border-box;
    }

/* Optional: Apply a global reset for margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure body takes full viewport height */
html, body {
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}


/* Navbar */
.navbar {
    background-color: #FFBA0D; /* Yellow navbar */
}

.navbar-logo {
    width: auto; /* Adjust as needed */
    height: 100px; /* Set height */
}

.login-status-wrapper {
    display: flex;
    align-items: center;
    gap: 10px; /* Add space between items */
    padding-left: 15px; /* Add padding to the left */
}

/* Style for the login links */
.login-link {
    margin-right: 10px; /* Add margin to the right */
}

/* Style for the login status label */
.login-status-label {
    margin-right: 10px; /* Add margin to the right */
    white-space: nowrap; /* Prevent text wrapping */
}

/* Style for the logout button */
.logout-button {
    height: 35px;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #FFBA0D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .login-container h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container p {
        margin-bottom: 15px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 10px 0;
        display: inline-block;
        border: 1px solid #FFBA0D;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login-container button {
        width: 100%;
        background-color: #ffbe33;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-container button:hover {
            background-color: #e69c00;
        }

    .login-container .status-label {
        text-align: center;
        display: block;
        margin-top: 20px;
    }

.login-button {
    width: 100%;
    background-color: #FFBA0D; /* Yellow background */
    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px; /* Rounded border */
    
    cursor: pointer;
    font-weight: bold;
}

    .login-button:hover {
        background-color: #e69c00;
    }

/* Title */
.title {
    background-color: #DB0007; /* Red background colour dekat McD logo */
    text-align: center;
    padding: 10px 0;
}

/* Footer */


.footer {
    position: relative;
    background-color: #000;
    color: grey;
    text-align: center;
    padding: 10px 0;
}

.view-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333; /* Icon color */
    text-decoration: none;
}

    .view-cart-button:hover {
        color: #FFBA0D; /* Yellow on hover */
    }

.card img {
    margin-left: auto;
    margin-right: auto;
}

